/* -- Elizabeth Villar -- */

@import url('https://fonts.googleapis.com/css2?family=Molle&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root{
	--yellow: #F6D64A;
	--teal: #55BCD5;
	--purple: #9B26B0;
	--blue: #499BD2;
	--dk-gray: #222222;
	--lt-gray: #EAEAEA;

	--white: #FFFFFF;
	--black: #000000;

	font-family: 'Montserrat', 'Molle', 'sans-serif';
}

*{
	box-sizing: border-box;
	line-height: 1.35;
}

/*@media (prefers-color-scheme: dark){
	body{
		background-color: var(--dk-gray);
	}
}*/

#skip{
	position: absolute;
	left: -999px;
	height:  0;
	width:  0;
}

#skip:focus{
	top: 1em;
	left: 1em;
	display: block;
	font-size: 1.2em;
	padding: 0.5em;
	width: 25%;
	height: 1.5em;
	line-height: 1.3em;
}

body{
	margin: 0;
	background-color: var(--white);
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
}

.sr-only{
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	white-space: nowrap;
	border: 0;
}

header{
	background-color: var(--teal);
	width: 100%;
}

/* -- small screen styles -- */
@media screen and (min-width: 428px){
	main{
		display: flex;
	}
}

/* -- medium screen styles --*/
@media screen and (min-width: 768px){
	main{
		display: grid;
		grid-template-columns: 1fr 1fr;
	}
}

/*-- large screen styles --*/
@media screen and (min-width: 916px){
	main{
		display: flex;
		flex-direction: row;
	}
}

nav ul{
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

ul li{
	display: inline-block;
}

nav a{
	display: block;
	padding: 1em;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	color: var(--black);
	background-color: var(--white);
	margin: 10px 5px;
}

main{
	width: 100%;
	margin: 0 auto;
}

h1, h2, h3{
	font-family: 'Molle', 'sans-serif';
}

h1{
	font-size: 2.5rem;
	padding: 0.5em;
}

h2{
	font-size: 2rem;
	margin: 0.5em 0;
}

p{
	width: 100%;
	margin: 0 auto;
}

#plan{
	background-color: var(--yellow);
	width: 100%;
	display: flex;
}

h3{
	font-size: 1.5rem;
	margin: 0.5em 0;
}

h4{
	font-weight: bold;
	text-align: center;
	font-size: 1.2rem;
}

#plan section{
	background-color: var(--teal);
	margin: 10px;
	border-radius: 3%;
	border: 2px solid var(--white);
}

#plan svg{
	stroke: var(--white);
}

#testimonials{
	display: flex;
}

#testimonials section{
	text-align: center;
}

#testimonials q{
	font-style: italic;
}

#about{
	background-color: var(--blue);
	width: 100%;
	display: flex;
}

#about section{
	text-align: center;
}

#about svg{
	stroke: var(--white);
}

#contact{
	display: grid;
}

#contact .form-required{
	font-family: 'Montserrat', sans-serif;
	font-style: italic;
	font-size: 1rem;
}

#contact input::placeholder{
	font-family: 'Montserrat', sans-serif;
}

footer{
	background-color: var(--lt-gray);
	padding: 1rem;
	display: flex;
}

footer a{
	text-decoration: none;
	color: var(--black);
}